
body{
    font: 13px arial;
}
.body{

    justify-content: center;
    height: auto;
    margin: 0;
    background-color: white;}
    
.google{
    
     padding: auto;
     padding-left: 40%;
    padding-right: 40%;
    color: white;
}
.right-nav{
    display: flex;
    align-items: center;
    padding: 4px 20px;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a :hover{
    text-decoration-line: underline;
    opacity: 0.65;
}
.signIn{
    border: 1px solid #4485f3;
    background: #4485f3;
    outline: none;
    display: inline-block;
    line-height: 28px;
    border-radius: 2px;
    padding: 0 12px;
    color: #fff;
}
.menu{
    width: 16px;
    height: 16px;
    margin-top: 2px;
    padding-right: 9px;
    opacity: 0.75;
}
ul {
    color: black;
    list-style: none;
    padding: 6px;
    line-height: 6px;
}
li{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 7px;
}
.img{
    margin-top: 20%;
    height:50%;
    width: 50%;
    margin-bottom:auto ;
    margin-left: 20%;
    
}
.search{
    /* align-items: center; */
    padding-right: 40%;
    /* margin: 5px; */
    font-size: 100%;
    color: black;

}
.footer{
    color: black;
}
P{
    padding-left: 20%;
    color: black;
}
.btn{
   align-items: center;
    margin: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: white;
    background-color: grey;
    
    border-radius: 5px;
    
}
